<section class="u-py-100 u-h-100vh u-flex-center main-bg-gradient-1">
  <div class="container">
    <div class="row">
      <div class="col-12 u-mt-80 text-center">
        <h1 class="display-4 u-fw-500 text-white u-mb-40">
          I'am Max a
          <span class="text-purple" data-type="Front-End, Back-End, Full-Stack Developer"></span>
          <span class="typed-curcor text-purple">|</span>
        </h1>
        <p class="u-fs-18 text-white u-lh-1_8 u-mb-40">
          tech enthusiast, passionate about life, and purpose driven diveloper always striving to provide quality work sustained by the highest creative thinking.
        </p>
        <a href="#" class="btn btn btn-rounded btn-primary m-2 px-md-5 py-3" data-scrollto="demo">
          Explore Projects
        </a>
      </div>
    </div>
  </div>
</section>
